#textdomain wesnoth-Archaic_Era

[multiplayer_side]
	id=Archaic_SouthSeas
	name= _ "South-Seas"
	image=units/south-seas/wolf.png
	{MAGENTA_IS_THE_TEAM_COLOR}  
	type=SouthSeas Rover
	leader=SouthSeas Seahag, SouthSeas AbleSeaman, SouthSeas Zephyrist
	recruit=SouthSeas Seaman, SouthSeas Swimmer, SouthSeas Caster, SouthSeas Arsonist, SouthSeas Shoreman
	terrain_liked=Ds,Ff,Hh,Ww,Rd
#	[ai]
#		recruitment_pattern=fighter,fighter,scout,archer,healer
#	[/ai]
[/multiplayer_side]
