#textdomain wesnoth-Archaic_Era

[multiplayer_side]
    id=Archaic_Despair
    name= _ "Despair"
    image=units/despair/phantomslayer.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Phantom Master
    leader=Phantom Slayer, Phantom Banshee, Phantom Armor
    recruit="Phantom Unease,Phantom Cloak,Phantom Shadow,Phantom Spearman,Phantom Soldier,Phantom Rider,
Phantom Horseman,Phantom Dullohan,Phantom Statue, Phantom Stone,Phantom Widow,Phantom Midnight,Phantom White"
    terrain_liked=Ds,Ff,Hh,Uu,Rd
    #	[ai]
    #		recruitment_pattern=fighter,fighter,scout,archer,healer
    #	[/ai]
[/multiplayer_side]
