#textdomain wesnoth-Archaic_Era

[multiplayer_side]
    id=Archaic_Primeval
    name= _ "Primeval"
    image=units/primeval/warrior.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Primeval Warrior
    leader=Primeval Firewheel, Primeval Hektor, Primeval Protector
    recruit="Primevalist Fighter, Primevalist Fanatic, Primevalist Follower, Primeval Slow, Primeval Dogface,
Primeval Driver, Primeval Swiftfoot, Primeval Slasher, Primeval Striker, Primeval Cutter, Primeval Ironwheel" 
    terrain_liked=Aa,Ff,Hh,Ha,Rd
    #	[ai]
    #		recruitment_pattern=fighter,fighter,scout,archer,healer
    #	[/ai]
[/multiplayer_side]
