#textdomain wesnoth-Archaic_Era

[multiplayer_side]
    id=Archaic_South-Seas
    name= _ "South-Seas"
    image=units/south-seas/wolf.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=South-Seas Seawolf
    leader=South-Seas Sea-Scourge, South-Seas Deck-Master, South-Seas Sky-Caller
    recruit="South-Seas Seaman, South-Seas Rover, South-Seas Able-Seaman, South-Seas Swimmer, South-Seas Diver,
South-Seas Caster, South-Seas Zephyrist, South-Seas Seahag, South-Seas Arsonist, South-Seas Demolitionist, 
South-Seas Shoreman, South-Seas Salvager"
    terrain_liked=Ds,Ff,Hh,Ww,Rd
    #	[ai]
    #		recruitment_pattern=fighter,fighter,scout,archer,healer
    #	[/ai]
[/multiplayer_side]
